<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Courses</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}">
				<td><span th:text="${course.name}"></span></td>
				<td><span th:text="${course.description}"></span></td>
				<td><span th:text="${course.price}"></span></td>
				<td><span th:text="${course.hours}"></span></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
		<p>Name: <input type="text" th:field="*{name}"/></p>
		<p>Description: <input type="text" th:field="*{description}"/></p>
		<p>Price <input type="number" th:field="*{price}"/></p>
		<p>Hours <input type="number" th:field="*{hours}"/></p>
		<p><input type="submit" value="Submit"/></p>
	</form>
	
</body>
</html>